$grey-1: #f5f5f5;
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$prm-sec: linear-gradient(to bottom right, $secondary, $primary);
$primary-hover: #9356dc55;
$secondary-hover: #ff7ad955;
$prm-sec-hover: linear-gradient(
  to bottom right,
  $secondary-hover,
  $primary-hover
);

:root {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  position: relative;
  background-color: white;
  height: 50px;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 1px 5px grey;
  z-index: 2;
  h1 {
    font-family: "Shrikhand";
    font-size: 2.8rem;
  }
}

h2 {
  font-size: 1.9rem;
  font-weight: bold;
}

footer {
  background-color: #464646;
  color: white;
  padding: 20px 20px;
  h4 {
    font-family: "Shrikhand";
    font-size: 1.5rem;
    padding-bottom: 15px;
  }
  li {
    font-size: 1rem;
    padding: 2px 0;
  }
  #f1::before {
    font-size: 1.15rem;
    padding-right: 5px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: "\f2e7";
  }
  #f2::before {
    font-size: 0.75rem;
    padding-right: 5px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: "\f4c4";
  }
}

.btn {
  margin: 0 30px;
  font-size: 1.3rem;
  padding: 15px 20px;
  border-radius: 30px;
  background: $prm-sec;
  color: white;
  box-shadow: 0 5px 5px lightgray;
  &:hover {
    background: $prm-sec-hover;
  }
}

.fa-heart {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 2.2rem;
  background: white;
  i {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;

    &:before {
      font-family: "Font Awesome 5 Free";
      // font-weight: 900;
      color: transparent;
      content: "\f004";
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-style: normal;
      background: -webkit-linear-gradient($secondary, $primary);
      -webkit-background-clip: content-box;
      background-clip: content-box;
      -webkit-text-fill-color: transparent;
      transform: scale(0);
      -webkit-transform: scale(0);
      -webkit-transition: 0s;
      transition: 0s;
    }
    &:hover:before {
      font-weight: 900;
      transform: scale(1);
      -webkit-transform: scale(1);
      transition: transform 1000ms;
    }
  }
}
