@import './medium.scss';

form {
    grid-template-areas:
        "title title title"
        "entree plat dessert"
        "submit submit submit";
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}