@import './small.scss';

img {
    height: 480px;
}

form {
    display: grid;
    grid-template-areas:
        "title title title"
        ". entree entree"
        " plat plat ."
        ". dessert dessert"
        "submit submit submit";
    grid-template-columns: 1fr 3fr 1fr;
    .title {
        grid-area: title;
    }
    .entree {
        grid-area: entree;
    }
    .plat {
        grid-area: plat;
    }
    .dessert {
        grid-area: dessert;
    }
    .input-div {
        grid-area: submit;
    }
}