@import "../../global.scss";

img {
  position: relative;
  margin-bottom: -30px;
  z-index: -1;
}

form {
  position: relative;
  z-index: 1;
  padding: 30px 20px;
  background-color: $grey-1;
  border-radius: 30px 30px 0 0;
  .title {
      display: flex;
  }
  h2 {
    font-family: "Shrikhand";
    font-size: 2.1rem;
    width: calc(100% - 22px);
  }
  .fa-heart {
    position: relative;
    align-self: flex-end;
    font-size: 2.1rem;
    line-height: 31px;
    background-color: $grey-1;
  }
  h3 {
    position: relative;
    margin: 20px 0 10px 0;
    font-size: 1.4rem;
    &::after {
      content: "";
      width: 30px;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: -5px;
      border: solid 1px $tertiary;
    }
  }

  ul {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    grid-template-areas: "plate1" "plate2" "plate3";

    .plate {
      overflow: hidden;
      background-color: white;
      box-shadow: 0 5px 5px lightgray;
      // position: relative;
      border-radius: 10px 10px;
      height: 50px;
      opacity: 0;
      animation: fade-in 1000ms ease-in;
      animation-fill-mode: forwards;
      display: grid;
      grid-template-columns: 1fr auto;
      label {
        padding: 10px;
        grid-row: 1;
        grid-column: 1;
        position: relative;
        width: 100%;
        min-width: 250px;
        h4,
        p {
          grid-area: text;
        }
      }
      .input-style {
        transform-origin: 100% 50%;
        grid-column: 2;
        grid-row: 1;
        height: 50px;
        width: 0;
        //line-height: 50px;
        font-size: 1.2rem;
        background-color: #6cdbbf;
        &::before {
          display: block;
          text-align: center;
          margin: 15px auto;
          height: 20px;
          width: 20px;
          line-height: 20px;
          border-radius: 10px;
          background-color: white;
          color: #6cdbbf;
        }
      }
      input {
        display: none;
        &:checked + .input-style {
          animation: checked 1s;
          animation-fill-mode: forwards;
          &::before {
            animation: rotation 1s;
            animation-fill-mode: forwards;
          }
        }
      }
    }

    .plate1 {
      grid-area: plate1;
      animation-delay: 0s;
    }
    .plate2 {
      grid-area: plate2;
      animation-delay: 200ms;
    }
    .plate3 {
      grid-area: plate3;
      animation-delay: 400ms;
    }
    .plate4 {
      grid-area: plate4;
      animation-delay: 600ms;
    }
  }

  h4 {
    font-weight: bold;
    font-size: 1.6rem;
  }

  .card-text {
    // padding-right: 30px;
    width: calc(100% - 30px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #858585;
    font-size: 1.3rem;
  }

  .card-price {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.3rem;
  }

  .submit-btn {
    display: block;
    margin: 40px auto;
    @extend .btn;
    border: 0;
  }
}

.plate1 {
  opacity: 0;
  animation: fade-in 1000ms ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

.plate2 {
  opacity: 0;
  animation: fade-in 1000ms ease-in 200ms;
  animation-fill-mode: forwards;
}

.plate3 {
  opacity: 0;
  animation: fade-in 1000ms ease-in 400ms;
  animation-fill-mode: forwards;
}

.plate4 {
  opacity: 0;
  animation: fade-in 1000ms ease-in 600ms;
  animation-fill-mode: forwards;
}

@keyframes checked {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(0, 100%);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
